[submodule "when"]
	path = when
	url = https://github.com/cujojs/when
[submodule "fastclick"]
	path = fastclick
	url = https://github.com/ftlabs/fastclick.git
[submodule "spin.js"]
	path = spin.js
	url = https://github.com/fgnass/spin.js.git
[submodule "Modernizr"]
	path = Modernizr
	url = https://github.com/Modernizr/Modernizr.git
