@-webkit-keyframes dissolvein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes dissolvein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes dissolvein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes dissolveout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes dissolveout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes dissolveout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
