/* font-face */
@font-face {
  font-family: "Playtime";
  src: url("font/playtime-webfont.eot?") format('eot'),
       url("font/playtime-webfont.woff") format('woff'),
       url("font/playtime-webfont.ttf") format('truetype'),
       url("font/playtime-webfont.svg") format('svg');
}

/* general styling */
* {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  background: gray;
  font: 22px/27px Playtime, sans-serif;
  text-rendering: geometricPrecision;
}
#all {
  height: 100%;
  position: absolute;
  width: 100%;
}
h2 {
  line-height: 24px;
  font-weight: bold;
}

/* interstitial */
#interstitial {
  display: none;
  cursor: auto;
}
.no-js #interstitial {
  display: block;
}
#warn {
  background-color: rgb(128, 128, 128);
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 10px 10px;
  height: 70%;
  left: 50%;
  margin-left: -300px;
  padding: 10px;
  position: absolute;
  top: 10%;
  width: 600px;
  z-index: 100;
}
.no-js          #warn li { display: none; }
.js             #warn #js { display: none; }
                #warn #ie { display: none; }
.video          #warn #video { display: none; }
.audio          #warn #audio { display: none; }
                #warn #opus { display: none; }
.fontface       #warn #fontface { display: none; }
.csstransforms  #warn #csstransforms { display: none; }
#gotit {
  text-align: center;
}
.no-js #gotit {
  display: none;
}

/* pre-content */
.webp #container, .webp #vid {
  cursor: url("../dump/ui/mousecursor.webp"), default;
}
#container, #vid {
  cursor: url("../dump/ui/mousecursor.png"), default;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  margin-top: -300px;
  margin-left: -400px;
}
#container {
  overflow: hidden;
}
#gray {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  z-index: 10;
}

/* dialogs */
#dialogs {
  z-index: 50;
  width: 504px;
  height: 395px;
  margin-left: -252px;
  margin-top: -197.5px;
}
.no-webp #dialogs {
  background: url("../dump/ui/bg-config.png");
}
.webp #dialogs {
  background: url("../dump/ui/bg-config.webp");
}
#dialogs > div {
  display: none;
  padding: 10px 20px;
}
.config_sfxtest_label {
  padding-left: 24px;
  background-repeat: no-repeat;
}
.no-webp .config_sfxtest_label {
  background-image: url("../dump/ui/bt-musicplay.png");
}
.webp .config_sfxtest_label {
  background-image: url("../dump/ui/bt-musicplay.webp");
}
.config_language_sel {
  padding-left: 24px;
  background-repeat: no-repeat;
}
.no-webp .config_language_sel {
  background-image: url("../dump/ui/bt-language.png");
}
.webp .config_language_sel {
  background-image: url("../dump/ui/bt-language.webp");
}
.saves {
  overflow-y: scroll;
  height: 260px;
  width: 450px;
}
.new_save_button {
  padding-left: 30px;
  background-repeat: no-repeat;
}
.no-webp .new_save_button {
  background-image: url("../dump/ui/bt-star.png");
}
.webp .new_save_button {
  background-image: url("../dump/ui/bt-star.webp");
}
#return {
  position: absolute;
  bottom: 15px;
  right: 20px;
  padding-left: 30px;
  background-repeat: no-repeat;
}
.no-webp #return {
  background-image: url("../dump/ui/bt-return.png");
}
.webp #return {
  background-image: url("../dump/ui/bt-return.webp");
}

/* content */
#show {
  height: 100%;
}
#show img {
  position: absolute;
}
#window {
  width: 800px;
  height: 160px;
  position: absolute;
  top: 440px;
  left: 0;
}
.no-webp #window {
  background: url("../dump/ui/bg-say.png");
}
.webp #window {
  background: url("../dump/ui/bg-say.webp");
}
#who {
  color: black;
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: bold;
}
.say, #context-info {
  color: white;
}
#say {
  width: 750px;
  height: 90px;
  position: absolute;
  top: 53px;
  left: 28px;
}
#nvl {
  background: white no-repeat top left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.no-webp #nvl {
  background-image: url("../dump/ui/bg-nvl.png");
}
.webp #nvl {
  background-image: url("../dump/ui/bg-nvl.webp");
}
#nvlsay {
  padding: 15px 35px;
}
.nvl-block {
  display: block;
  margin: 10px 8px;
}
.ctc {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 16px;
  height: 16px;
  -o-animation: blink 2s infinite linear;
  -moz-animation: blink 2s infinite linear;
  -webkit-animation: blink 2s infinite linear;
  animation: blink 2s infinite linear;
}
.no-webp .ctc {
  background-image: url("../dump/ui/ctc.png");
}
.webp .ctc {
  background-image: url("../dump/ui/ctc.webp");
}
.apng .ctc, .webpanimation .ctc {
  -o-animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}
.apng .ctc {
  background-image: url("../dump/ui/ctc_anim.png");
}
.webpanimation .ctc {
  background-image: url("../dump/ui/ctc_anim.webp");
}
#nvlctc {
  bottom: 25px;
  transform: rotate(90deg);
}
#centered {
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  height: 0;
}
.centered {
  position: absolute;
  margin: auto;
  width: 100%;
  left: 50%;
  top: 50%;
}
.status {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}
.no-webp #auto {
  background: url("dump/ui/sd-auto.png");
}
.webp #auto {
  background: url("dump/ui/sd-auto.webp");
}
.no-webp #skip {
  background: url("dump/ui/sd-skip.png");
}
.webp #skip {
  background: url("dump/ui/sd-skip.webp");
}
#choices {
  left: 0;
}
.webp .choice {
  background-image: url("../dump/ui/bg-choice.webp");
}
.no-webp .choice {
  background-image: url("../dump/ui/bg-choice.png");
}
.choice {
  background: white no-repeat top center;
  text-align: center;
  height: 35px;
  line-height: 30px;
}
#context > div {
  z-index: 20;
  text-align: center;
}
.webp #context-menu {
  background-image: url("../dump/ui/bg-gm.webp");
}
.no-webp #context-menu {
  background-image: url("../dump/ui/bg-gm.png");
}
#context-menu {
  background: transparent no-repeat top center;
  margin-top: -210px;
  padding-top: 60px;
  position: absolute;
  left: 50%;
  height: 380px;
  width: 200px;
  margin-left: -100px;
  top: 50%;
}
#context-menu .button {
  padding: 1.5px;
}
#context-info {
  font: 19px/22px Playtime;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

/* main menu */
#main-menu-buttons {
  top: 377px;
  position: absolute;
  left: 81px;
}
#main-menu-buttons .button {
  margin: 4px;
}
#version {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 8px;
  line-height: 8px;
  opacity: 0.4;
}

/* input */
label {
  display: block;
}
.button, h2, label {
  opacity: 0.4;
}
.disabled {
  opacity: 0.1;
}
.button:not(.disabled):hover {
  opacity: 1;
}
input[type="checkbox"] {
  display: none;
}
.webp input[type="checkbox"] + span:before {
  background-image: url("../dump/ui/bt-cf-unchecked.webp");
}
.no-webp input[type="checkbox"] + span:before {
  background-image: url("../dump/ui/bt-cf-unchecked.png");
}
input[type="checkbox"] + span:before {
  display: inline-block;
  height: 19px;
  width: 20px;
  content: "";
  background: white left bottom no-repeat;
}
.no-webp input[type="checkbox"]:checked + span:before {
  background-image: url("../dump/ui/bt-cf-checked.png");
}
.webp input[type="checkbox"]:checked + span:before {
  background-image: url("../dump/ui/bt-cf-checked.webp");
}

/* anim */

@-webkit-keyframes blink {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes blink {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes blink {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

.spinner {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
