/* font-face */
@font-face {
  font-family: "Playtime";
  /* src: url("playtime.ttf"); */
  src: url("font/playtime-webfont.woff") format('woff'),
       url("font/playtime-webfont.ttf") format('ttf'),
       url("font/playtime-webfont.svg") format('svg');
}
@font-face {
  font-family: "Gentium";
  /* src: url("gentium.ttf"); */
  src: url("font/GentiumPlus.svg");
  src: url("font/GentiumPlus.ttf");
  src: url("font/GentiumPlus.woff");
}

/* general styling */
* {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  background: gray;
  font: 22px/27px Playtime, sans-serif;
}
#all {
  height: 100%;
  position: absolute;
  width: 100%;
}
h2 {
  font-size: 20px
  line-height: 24px; /* yes, h2 has *smaller* font */
  font-weight: bold;
}

/* interstitial */
#interstitial {
  display: none;
  cursor: auto;
}
html.no-js #interstitial {
  display: block;
}
#warn {
  background-color: rgb(128, 128, 128);
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 10px 10px;
  height: 70%;
  left: 50%;
  margin-left: -300px;
  padding: 10px;
  position: absolute;
  top: 10%;
  width: 600px;
  z-index: 100;
}
html.no-js          #warn li { display: none; }
html.js             #warn li#js { display: none; }
                    #warn li#ie { display: none; }
html.video          #warn li#video { display: none; }
html.audio          #warn li#audio { display: none; }
                    #warn li#opus { display: none; }
html.fontface       #warn li#fontface { display: none; }
html.csstransforms  #warn li#csstransforms { display: none; }
#gotit {
  text-align: center;
}
html.no-js #gotit {
  display: none;
}

/* pre-content */
.webp #container, .webp #vid {
  cursor: url("../dump/ui/mousecursor.webp"), default;
}
.no-webp #container, .no-webp #vid {
  cursor: url("../dump/ui/mousecursor.png"), default;
}
#container, #vid {
  position: absolute;
}
#container, #vid {
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  margin-top: -300px;
  margin-left: -400px;
}
#container {
  overflow: hidden;
}
#gray {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  z-index: 10;
}

/* dialogs */
.webp #dialogs {
  background: url("../dump/ui/bg-config.webp");
}
.no-webp #dialogs {
  background: url("../dump/ui/bg-config.png");
}
#dialogs {
  z-index: 50;
  width: 504px;
  height: 395px;
  margin-left: -252px;
  margin-top: -197.5px;
}
#options {
  padding: 10px 20px;
}
#return {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

/* content */
#show {
  height: 100%;
}
#show img {
  position: absolute;
}
.webp #window {
  background: url("../dump/ui/bg-say.webp");
}
.no-webp #window {
  background: url("../dump/ui/bg-say.png");
}
#window {
  width: 800px;
  height: 160px;
  position: absolute;
  top: 440px;
  left: 0;
}
#who {
  color: black;
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: bold;
}
.say, #context-info {
  color: white;
}
#say {
  width: 750px;
  height: 90px;
  position: absolute;
  top: 53px;
  left: 28px;
}
.webp #nvl {
  background: url("../dump/ui/bg-nvl.webp") no-repeat top left;
}
.no-webp #nvl {
  background: url("../dump/ui/bg-nvl.png") no-repeat top left;
}
#nvl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#nvlsay {
  padding: 15px 35px;
}
.nvl-block {
  display: block;
  margin: 10px 8px;
}
.webp .ctc {
  background-image: url("../dump/ui/ctc.webp");
}
.no-webp .ctc {
  background-image: url("../dump/ui/ctc.png");
}
.ctc {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 16px;
  height: 16px;
  -o-animation: blink 2s infinite linear;
  -moz-animation: blink 2s infinite linear;
  -webkit-animation: blink 2s infinite linear;
  animation: blink 2s infinite linear;
}
.apng .ctc {
  background-image: url("../dump/ui/ctc_anim.png");
  -o-animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}
.webpanimation .ctc {
  background-image: url("../dump/ui/ctc_anim.webp");
  -o-animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}
#nvlctc {
  bottom: 25px;
  transform: rotate(90deg);
}
#centered {
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  height: 0;
}
.centered {
  position: absolute;
  margin: auto;
  width: 100%;
  left: 50%;
  top: 50%;
}
.status {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}
#choices {
  left: 0;
}
.webp .choice {
  background: url("../dump/ui/bg-choice.webp") no-repeat top center;
}
.no-webp .choice {
  background: url("../dump/ui/bg-choice.png") no-repeat top center;
}
.choice {
  text-align: center;
  height: 35px;
  line-height: 30px;
}
#context > div {
  z-index: 20;
  text-align: center;
}
.webp #context-menu {
  background: url("../dump/ui/bg-gm.webp") no-repeat top center;
}
.no-webp #context-menu {
  background: url("../dump/ui/bg-gm.png") no-repeat top center;
}
#context-menu {
  margin-top: -210px;
  padding-top: 60px;
  position: absolute;
  left: 50%;
  height: 380px;
  width: 200px;
  margin-left: -100px;
  top: 50%;
}
#context-menu .button {
  padding: 1.5px;
}
#context-info {
  font: 19px/22px Playtime;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

/* main menu */
#main-menu-buttons .button {
  margin: 4px;
}
#version {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 8px;
  line-height: 8px;
  opacity: 0.4;
}

/* input */
label {
  display: block;
}
.button, h2, label {
  opacity: 0.4;
}
.disabled {
  opacity: 0.1;
}
.button:not(.disabled):hover {
  opacity: 1;
}
input[type="checkbox"] {
  display: none;
}
.webp input[type="checkbox"] + span:before {
  background-image: url("../dump/ui/bt-cf-unchecked.webp");
}
.no-webp input[type="checkbox"] + span:before {
  background-image: url("../dump/ui/bt-cf-unchecked.png");
}
input[type="checkbox"] + span:before {
  display: inline-block;
  height: 19px;
  width: 20px;
  content: "";
  background-position: left bottom;
  background-repeat: no-repeat;
}
.webp input[type="checkbox"]:checked + span:before {
  background-image: url("../dump/ui/bt-cf-checked.webp");
}
.no-webp input[type="checkbox"]:checked + span:before {
  background-image: url("../dump/ui/bt-cf-checked.png");
}
